<nav>
    <ul>
        <li>
            <a href="/">
                <img src="/images/home-1-svgrepo-com.svg" alt="">Home
            </a>
        </li>
        <li>
            <a href="/upload">
                <img src="/images/upload-svgrepo-com.svg" alt="">Upload
            </a>
        </li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>
</nav>