<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <% if (locals.user) { %>
        <h1>You are already logged in</h1>
    <% } else { %>
        <form action="/signup" method="post">
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username">
            </div>
            <div>
                <label for="pw">Password</label>
                <input type="password" id="pw" name="pw">
            </div>
            <div>
                <label for="cpw">Confirm Password</label>
                <input type="password" id="cpw" name="cpw">
            </div>
            <button>Sign Up</button>
        </form>
        <% if (locals.errors) { %>
            <% errors.forEach(e => { %>
                <p><%= e.msg %></p>
            <% }) %>
        <% } %>
    <% } %>
</body>
</html>